 #divID {
    width: 400px; /* here you put the width that you need */
    height: 200px; /* here you put the height that you need */
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px; /* this number always to be the width divided two in negative */
    margin-top:-100px; /* this number always to be the height divided two in negative */
 }
